spring:
  datasource:
    url: jdbc:h2:mem:coursedb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MYSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  # 添加这行配置，禁用自动 SQL 脚本执行
  sql:
    init:
      mode: never
  h2:
    console:
      enabled: true
      path: /h2-console
